In [2]:
import time, re, json
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
from selenium.webdriver.support.ui import WebDriverWait
import numpy as np
import pandas as pd
from googlesearch import search

In [14]:
namus = pd.read_csv("namus.csv")
print(namus)

       Unnamed: 0 Case Number         DLC  Last Name First Name Missing Age  \
0               1     MP67982  03/08/2020     Watson    Douglas    29 Years
1               2     MP64666  01/16/2020    Edwards    Katrina    16 Years
2               3     MP67978  01/08/2020  Kennebrew       Judy    65 Years
3               4     MP61819  08/28/2019   Calloway      Donna    40 Years
4               5     MP58186  05/22/2019   Robinson   Ramondus    31 Years
...           ...         ...         ...        ...        ...         ...
18163          41      MP6400  08/04/1974      Meyer    Deborah    15 Years
18164          42     MP14488  07/04/1974      Brown    Carlene    19 Years
18165          43     MP13812  04/27/1974     Morris      Larry    24 Years
18166          44     MP23115  07/12/1966    Johnson     Dennis     8 Years
18167          45     MP27783  09/17/1934     Mauger       Olga    21 Years

                            City      County State     Sex  \
0                 West Jefferson   Jefferson    AL    Male
1                         Mobile      Mobile    AL  Female
2                      Tallassee  Tallapoosa    AL  Female
3                     Montgomery  Montgomery    AL  Female
4                     Birmingham   Jefferson    AL    Male
...                          ...         ...   ...     ...
18163                    Rawlins      Carbon    WY  Female
18164                    Rawlins      Carbon    WY  Female
18165                   Riverton     Fremont    WY    Male
18166  Yellowstone National Park        Park    WY    Male
18167                     Dubois     Fremont    WY  Female

               Race / Ethnicity Date Modified
0             White / Caucasian    04/09/2020
1             White / Caucasian    03/04/2020
2      Black / African American    04/08/2020
3      Black / African American    03/20/2020
4      Black / African American    02/14/2020
...                         ...           ...
18163         White / Caucasian    04/15/2019
18164         White / Caucasian    04/15/2019
18165         White / Caucasian    10/14/2019
18166         White / Caucasian    03/14/2018
18167         White / Caucasian    08/06/2018

[18168 rows x 12 columns]

In [17]:
# query = "\"" + str(namus.iloc[0,3]) + " " + str(namus.iloc[0,4]) + "\"" + " " + str(namus.iloc[0,6]) + " " + str(namus.iloc[0,8])
query = "\"" + str(namus.iloc[0,3]) + " " + str(namus.iloc[0,4]) + "\""
print(query)
for j in search(query, tld="co.in", num=10, stop=10, pause=2): 
    print(j)

"Watson Douglas"
https://www.nonpareilonline.com/obituaries/watson-douglas/article_96970b26-e3c4-5e1b-b9fd-ecaeb6619c4c.html
https://www.richmond.com/obituaries/watson-douglas/article_8b9c9a0b-aea5-5a53-a613-1c90ff52ca30.html
https://www.linkedin.com/in/watson-douglas-68485121
https://www.omaha.com/obits/watson-douglas-edward/article_c336ea8b-77b4-5932-9fde-1d93489ab1ae.html
https://www.invaluable.com/artist/watson-douglas-hbwbd6ewwk/sold-at-auction-prices/
http://www.serenitymeadows.com/obituary/watson-douglas
https://www.lohmanfuneralhomes.com/guestbook/watson-douglas
https://www.lohmanfuneralhomes.com/obituary/watson-douglas
https://www.legacy.com/obituaries/name/by/watson/douglas
https://beersandstory.com/tribute/details/165629/Douglas-Watson/obituary.html